* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  height: 80vh;
  color: rgb(228, 223, 223);
  background-color: rgb(66, 77, 73);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.guess-btn,
.refresh-btn {
  padding: 1rem;
  border-radius: 30px;
  background-color: rgb(45, 119, 144);
  color: rgb(244, 244, 244);
  font-family: "Rubik", sans-serif;
  border: 3px solid rgb(56, 221, 233);
  font-size: 1rem;
}

.guess-input {
  padding: 0.5rem;
  background-color: rgb(123, 104, 108);
  color: white;
}

.svg {
  height: 45vh;
}

.pink {
  color: rgb(208, 83, 170);
}

.blue {
  color: rgb(56, 221, 233);
}
